<div *ngIf="user">
  <div>
    <label>First Name: </label> {{user.name}}
  </div>
  <div>
    <label>Phone: </label> {{user.phone}}
  </div>
  <div>
    <label>Address </label> {{user.address}}
  
  </div>

  <div>
    <label>Type </label> {{user.type}}
  
  </div>
  
  <span class="button is-small btn-danger" (click)='deleteUser()'>Delete</span>
  <span class="button is-small btn-danger" (click)='editUser()'>Edit</span>
 
  <hr/>

  <!-- <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
    </tbody>
  </table> -->
 
</div>

