
 
      <div class="flt lp_block"> <img src="assets/images/lp_imgpair.jpg" width="51" height="37" alt="" class="flt1 lp_imgpair" /> <span class="flt lp_txtmem">Admin <span style="color:#2C3E46;">login</span></span><br />
        <span class="flt1 lp_txtlog">Email ID</span>
        <input name="username" type="text" class="flt lp_textbox" />
        <br />
        <span class="flt1 lp_txtlog2">Password</span>
        <input name="password" type="password" class="flt lp_textbox2" />
        <a href="#" class="flt lp_arrow"><img src="assets/images/lp_arrow.gif" width="24" height="20" alt="" />
        </a>
          <img src="assets/images/lp_boxcorn3.gif" width="260" height="15" alt="" class="flt1 lp_boxtop3" />
        <div class="flt1 lp_box2bg"> <img src="assets/images/lp_imgclient.jpg" width="45" height="40"
           alt="" class="flt1 lp_imgclient" /> <span class="flt lp_txtclint">client speaks</span> 
          <span class="flt1 lp_box2txt">&#8220;Your childern are Save With BusNaa.&#8221;<br />
         </span> <br><br></div>
        <img src="assets/images/lp_boxcorn4.gif" width="260" height="14" alt="" class="flt1" /> </div>
      <div class="flt rp_block"> <img src="assets/images/rp_topcorn.gif" width="560" height="14" 
        alt="" class="flt1 rp_topcornn" />
        <div class="flt1 rp_inner"> <span class="flt rp_txtour">School <span style="color:#3F4534;">Info</span>
          </span> <span class="flt rp_nameband">
          <img src="assets/images/cp_nameband.gif" width="287" height="14" alt="" /></span> 
          <img src="images/cp_imgabacus.jpg" width="95" height="93" alt="" class="flt1 rp_abacus" /> 
          <span class="flt rp_weltxt">We provide home loans, business loans, agricultural loans,
             <a href="#" style="color:#BD2E12; text-decoration:none;">
            VA loans, FHA loans among others</a>. If you satisfy our various requirements
             concerning documents, your loans will be approved in three days.
             Your repayment capabilities and your collateral security will be scrutinized
              by our experts before sanctioning the loan. financial operations in one of our
               financial operations in one of our <br />
        </span>   </div></div>    
    <!-- content panel ends here -->
  <!-- footer panel starts here -->
 






